<div class="weather-background w-full">
  <div class="bg-white w-3/6">
    <form>
      <label for="cidade">Cidade:</label>
      <input
        type="text"
        class="input"
        id="cidade"
        name="cidade"
        placeholder="Digite a cidade"
        [(ngModel)]="city"
      />
      <button (click)="setCity(city)">Pesquisar</button>
    </form>
    <div *ngIf="singleWeather">
      <h2>Informações Meteorológicas para {{ singleWeather.name }}</h2>
      <p>
        Temperatura:
        {{ singleWeather.main.temp - 273.15 | number : "1.2-2" }} °C
      </p>
    </div>
  </div>
</div>
