.weather-background {
  background-image: url('../../../assets/image/clima-frio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
}

.degrade {
  background-image: linear-gradient(to bottom right, #204070, #24064d);
}


.icon-sol {
  background-image: url('../../../assets/image/sol.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
}

.icon-frio {
  background-image: url('../../../assets/image/frio.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  position: relative;
}

.container-background-frio {
  background-image: linear-gradient(to bottom right, #204070, #24064d);
}

.container-background-quente {
  background: linear-gradient(90deg, rgba(249,236,88,1) 0%, rgba(250,150,0,1) 35%, rgba(181,50,7,1) 100%);
}
